<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../static/About%20us.css">
      <title>About us</title>
    </head>

<body>
    <nav class="nav-bar">
        <h1>INSURANCE PLANNER</h1>

    </nav>
        <div class="header">
        <img src="../purple.jfif" height="200" width="1600">
        <h2>ABOUT INSURANCE PLANNER</h2>
        <p>Our mission is to create a platform that simplifies the process of purchasing and claiming insurance easy and fast.</p>
        </div>
        <div class="card">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../pic1.jfif">
                    <h2>Somiya Panikar</h2>
                        <p>Developer</p>

                </div>
                <div class="flip-card-back">
                    <div class="back-header">
                        <img src="../pic1.jfif">

                    </div>
                    <div class="back-footer">
                        <h2>Somiya Panikar</h2>
                        <p>Developer</p>

                    </div>

                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../pic1.jfif">
                </div>
                <div class="flip-card-back">
                    <div class="back-header">
                        <img src="../pic1.jfif">

                    </div>
                    <div class="back-footer">
                        <h2>Namrata Narkhede</h2>
                        <p>Developer</p>

                    </div>

                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../pic1.jfif">
                </div>
                <div class="flip-card-back">
                    <div class="back-header">
                        <img src="../pic1.jfif">

                    </div>
                    <div class="back-footer">
                        <h2>Hrishikesh Rane</h2>
                        <p>Developer</p>

                    </div>

                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../pic1.jfif">

                </div>
                <div class="flip-card-back">
                    <div class="back-header">
                        <img src="../pic1.jfif">

                    </div>
                    <div class="back-footer">
                        <h2>Omkar Nimbalkar</h2>
                        <p>Developer</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer">
        <section class="footer-section">
            <div class="logo-container">
                <h1>INSURANCE PLANNER</h1>
                <div class="social-container">
                    <img src="./icon-facebook.svg" alt="" />
                    <img src="./icon-instagram.svg" alt="" />
                    <img src="./icon-twitter.svg" alt="" />
                    <img src="./icon-pinterest.svg" alt="" />
                </div>
            </div>
            <div class="footer-menu-container">
                <div class="menu">
                    <h1>Our Company</h1>
                    <div class="menu-items">
                        <a href="#">How we work</a>
                        <a href="#">Why Insurance Planner?</a>
                        <a href="#">View Plans</a>
                        <a href="#">Reviews</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Help me</h1>
                    <div class="menu-items">
                        <a href="#">Faq</a>
                        <a href="#">Terms of use?</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">cookies</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Contact</h1>
                    <div class="menu-items">
                        <a href="#">Sales</a>
                        <a href="#">Support</a>
                        <a href="#">Live Chat</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Others</h1>
                    <div class="menu-items">
                        <a href="#">Carriers</a>
                        <a href="#">Press</a>
                        <a href="#">Licences</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    </body>
</html>