<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./Insurance.css" />
    <title>Bike Insurance</title>
</head>

<body>
    <nav class="nav-bar">
        <h1>INSURANCE PLANNER</h1>

    </nav>
    <div class="box">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Welcome to Bike Insurance</h2>
            <div class="form-element">
                <label for="reg-year">Enter the vehicle registration year: </label>
                <input type="text" name="reg-year" required><br><br>

                <h2><small>Select two wheeler make:</small></h2>
                <label for="company">HONDA</label>
                <input type="radio" name="company-choice" value="choice-1">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">BAJAJ</label>
                <input type="radio" name="company-choice" value="choice-2">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">HERO HONDA</label>
                <input type="radio" name="company-choice" value="choice-3">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">TVS</label>
                <input type="radio" name="company-choice" value="choice-4">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">YAMAHA</label>
                <input type="radio" name="company-choice" value="choice-5">
                <br>
                <label for="company">HERO MOTOCORP</label>
                <input type="radio" name="company-choice" value="choice-6">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">ROYAL ENFIELD</label>
                <input type="radio" name="company-choice" value="choice-7">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">SUZUKI</label>
                <input type="radio" name="company-choice" value="choice-8">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">MAHINDRA</label>
                <input type="radio" name="company-choice" value="choice-9">
                <br>
                <label for="company">KTM</label>
                <input type="radio" name="company-choice" value="choice-10">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">LML</label>
                <input type="radio" name="company-choice" value="choice-11">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="company">HARLEY DAVIDSON</label>
                <input type="radio" name="company-choice" value="choice-12">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <br><br><br>

                <label for="place">Choose the location:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="place">
                    <option value="0" selected disabled></option>
                    <option value="place-maha">Maharashtra</option>
                    <option value="place-guju">Gujarat</option>
                    <option value="place-delhi">Delhi</option>
                    <option value="place-ke">Kerala</option>
                    <option value="place-mp">Madhya Pradesh</option>
                    <option value="place-ap">Andhra Pradesh</option>

                </select><br><br>

                <h4>Just answer 2 simple questions to get more accurate quotes</h4>
                <br>
                <label for="current-exp">Has your current policy expired?</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="current-exp">
                    <option value="0" selected disabled></option>
                    <option value="Not expired">Not expired</option>
                    <option value="Expired within 90 Days">Expired within 90 Days</option>
                    <option value="Expired more than 90 Days ago">Expired more than 90 Days ago</option>
                    <option value="I don't remember">I don't remember</option>

                </select><br><br>


                <label for="cover-exp">Which cover did you have on your expiring policy?</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="cover-exp">
                    <option value="0" selected disabled> </option>
                    <option value="Standard/Comprehensive">Standard/Comprehensive</option>
                    <option value="Third Party/Liability Only">Third Party/Liability Only</option>
                    <option value="I don't remember">I don't remember</option>

                </select><br><br>
                <label for="agree">I do agree to all the information given in the form</label>
                <input type="checkbox" name="agree">
                <br><br>
                <button class="btn"><a href="./Bike Policy1.html">Submit</a></i></button>


            </div>
        </div>
    </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div class="bike-car-image">
    <img src="static/Bike.jpeg">
    </div>

    <br><br><br><br><br><br><br><br>


    <footer class="footer">
        <section class="footer-section">
            <div class="logo-container">
                <h1>INSURANCE PLANNER</h1>
                <div class="social-container">
                    <img src="./icon-facebook.svg" alt="" />
                    <img src="./icon-instagram.svg" alt="" />
                    <img src="./icon-twitter.svg" alt="" />
                    <img src="./icon-pinterest.svg" alt="" />
                </div>
            </div>
            <div class="footer-menu-container">
                <div class="menu">
                    <h1>Our Company</h1>
                    <div class="menu-items">
                        <a href="#">How we work</a>
                        <a href="#">Why Insurance Planner?</a>
                        <a href="#">View Plans</a>
                        <a href="#">Reviews</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Help me</h1>
                    <div class="menu-items">
                        <a href="#">Faq</a>
                        <a href="#">Terms of use?</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">cookies</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Contact</h1>
                    <div class="menu-items">
                        <a href="#">Sales</a>
                        <a href="#">Support</a>
                        <a href="#">Live Chat</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Others</h1>
                    <div class="menu-items">
                        <a href="#">Carriers</a>
                        <a href="#">Press</a>
                        <a href="#">Licences</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>


</body>

</html>