<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./Insurance.css" />
    <title>Bike Insurance</title>
</head>

<body>
    <nav class="nav-bar">
        <h1>INSURANCE PLANNER</h1>

    </nav>
    <div class="box">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Welcome to Bike Insurance</h2>
            <div class="form-element">
                <label for="number_plate">Enter the bike number: </label>
                <input type="text" name="number_plate" required><br><br>

                <h2><b><small>To continue without number plate</small></b></h2>
                <a href="./Bike Insurance2.html">CLICK HERE</a><br><br>
                <button class="btn"><a href="./Bike Policy1.html">Submit</a></i></button>

            </div>
        </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="bike-car-image">
    <img src="static/Bike.jpeg">
    </div>

    <br><br><br><br><br><br><br><br>


    <footer class="footer">
        <section class="footer-section">
            <div class="logo-container">
                <h1>INSURANCE PLANNER</h1>
                <div class="social-container">
                    <img src="./icon-facebook.svg" alt="" />
                    <img src="./icon-instagram.svg" alt="" />
                    <img src="./icon-twitter.svg" alt="" />
                    <img src="./icon-pinterest.svg" alt="" />
                </div>
            </div>
            <div class="footer-menu-container">
                <div class="menu">
                    <h1>Our Company</h1>
                    <div class="menu-items">
                        <a href="#">How we work</a>
                        <a href="#">Why Insurance Planner?</a>
                        <a href="#">View Plans</a>
                        <a href="#">Reviews</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Help me</h1>
                    <div class="menu-items">
                        <a href="#">Faq</a>
                        <a href="#">Terms of use?</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">cookies</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Contact</h1>
                    <div class="menu-items">
                        <a href="#">Sales</a>
                        <a href="#">Support</a>
                        <a href="#">Live Chat</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Others</h1>
                    <div class="menu-items">
                        <a href="#">Carriers</a>
                        <a href="#">Press</a>
                        <a href="#">Licences</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</body>

</html>