<!DOCTYPE html>
<html>
    <head>
           <meta name="veiwport" content='with=device-width', initial-scale=1.0">
        <title>Insurance Planner</title>
        <link rel="stylesheet" href="./Policy1.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="./Insurance Planner.html">
                    <h1>"HOME INSURANCE"</h1></a>
                
            </nav>
        </section>
        
        <section class="plans" id="plans">
            <div class="heading">Best Plans for you</div>
            <div class="mainbox">
            <div class="container">
                <div class="image">
                    <img src="icici_photo.jfif"> 
                    </div>
                <div class="title">
                    <h5>ICICI PRUDENTIAL
                        iPROCTECT SMART PLAN
                    </h5>
                </div>
                <div class="desc">
                    <p>739rs/mon</p>
                    <button><a href="templates/Admin%20Page.html"> Read More</a></button>
                </div>
            
                </div>

                <div class="container">
                    <div class="image">
                        <img src="icici_photo.jfif"> 
                        </div>
                    <div class="title">
                        <p>ICICI PRUDENTIAL
                            iPROCTECT SMART PLAN
                        </p>
                    </div>
                    <div class="desc">
                        <button><a href="templates/Admin%20Page.html"> Read More</a></button>
                    </div>
                
                    </div>

                    <div class="container">
                        <div class="image">
                            <img src="icici_photo.jfif"> 
                            </div>
                        <div class="title">
                            <p>ICICI PRUDENTIAL
                                iPROCTECT SMART PLAN
                            </p>
                        </div>
                        <div class="desc">
                            <button><a href="templates/Admin%20Page.html"> Read More</a></button>
                        </div>
                    
                        </div>
        
                        <div class="container">
                            <div class="image">
                                <img src="icici_photo.jfif"> 
                                </div>
                            <div class="title">
                                <p>ICICI PRUDENTIAL
                                    iPROCTECT SMART PLAN
                                </p>
                            </div>
                            <div class="desc">
                                <button><a href="templates/Admin%20Page.html">Read More</a></button>
                            </div>
                        
                            </div>

                           
                                             
            </div> 
                

            

        </section>
    
</html>