<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./Insurance.css" />
    <title>Travel Insurance</title>
</head>

<body>
    <nav class="nav-bar">
        <h1>INSURANCE PLANNER</h1>
    </nav>
    <div class="box">
        <div class="close-btn">&times;</div>
        <div class="form">
            <h2>Welcome to Travel Insurance</h2>
            <div class="form-element">

            <h3>Let's secure your travel</h3>
           <label for="country">Which country are you travelling to? </label>
           <input type="text" name="country" required><br><br>
        <div>
           <h3>When are you travelling to your destination?</h3>
           <p>Don't worry you can change your trip dates at a later stage</p>
          
           <label for="start-date">Start date: </label>
           <input type="text" name="start-date" required><br><br>

           <label for="end-date">End date: </label>
           <input type="text" name="end-date" required><br><br>
        </div>
    <div>
        <div>
            <label for="people">How many people are travelling?</label><br>
           <button class="btn">1</button>
           <button class="btn">2</button>
           <button class="btn">3</button>
           <button class="btn">4+</button>
        </div><br><br>

           <label for="age1">Select age of traveller 1: </label>
           <select name="age1">
               <option value="0" selected disabled></option> 
                <option value="Below age 10">Below age 10</option>
                <option value="10 to 20">10 to 20</option>
                <option value="20 to 40">20 to 40</option>
                <option value="Above age 40">Above age 40</option>
                           
           </select><br><br>

           <label for="age2">Select age of traveller 2: </label>
           <select name="age2">
               <option value="0" selected disabled></option> 
                <option value="Below age 10">Below age 10</option>
                <option value="10 to 20">10 to 20</option>
                <option value="20 to 40">20 to 40</option>
                <option value="Above age 40">Above age 40</option>
                           
           </select><br><br>

           <label for="age3">Select age of traveller 3: </label>
           <select name="age3">
               <option value="0" selected disabled></option> 
                <option value="Below age 10">Below age 10</option>
                <option value="10 to 20">10 to 20</option>
                <option value="20 to 40">20 to 40</option>
                <option value="Above age 40">Above age 40</option>
                           
           </select><br><br>

           <label for="age4">Select age of traveller 4: </label>
           <select name="age4">
               <option value="0" selected disabled></option> 
                <option value="Below age 10">Below age 10</option>
                <option value="10 to 20">10 to 20</option>
                <option value="20 to 40">20 to 40</option>
                <option value="Above age 40">Above age 40</option>
                           
           </select><br><br>

           
</div>

<div>
    <h3>Does the traveller have any pre-existing medical condition?</h3>
    <p>If the traveller have a known illness,injury or health condition like heart disease,diabetes,cancer etc which will help us cover you</p>
        <label for="choice-yes">Yes</label>
        <input type="radio" name="choice" value="choice-1">

        <label for="choice-no">No</label>
        <input type="radio" name="choice" value="choice-2">

</div>

<h3>Great! One last step to get your travel insurance plans</h3>
<p>It will help us to share policy documents and assist you in claim settlement if needed</p>

<label for="mob-no">Mobile number: </label>
<input type="text" name="mob-no" ><br><br>

    
 <div>
      <label for="agree">I do agree to all the information given in the form</label>
      <input type="checkbox" name="agree"><br><br>
 
      <button class="btn"><a href="./Travel Policy1.html">Submit</a></i></button>
</div>
    </form>
    </div>
    </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer">
        <section class="footer-section">
            <div class="logo-container">
                <h1>INSURANCE PLANNER</h1>
                <div class="social-container">
                    <img src="./icon-facebook.svg" alt="" />
                    <img src="./icon-instagram.svg" alt="" />
                    <img src="./icon-twitter.svg" alt="" />
                    <img src="./icon-pinterest.svg" alt="" />
                </div>
            </div>
            <div class="footer-menu-container">
                <div class="menu">
                    <h1>Our Company</h1>
                    <div class="menu-items">
                        <a href="#">How we work</a>
                        <a href="#">Why Insurance Planner?</a>
                        <a href="#">View Plans</a>
                        <a href="#">Reviews</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Help me</h1>
                    <div class="menu-items">
                        <a href="#">Faq</a>
                        <a href="#">Terms of use?</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">cookies</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Contact</h1>
                    <div class="menu-items">
                        <a href="#">Sales</a>
                        <a href="#">Support</a>
                        <a href="#">Live Chat</a>
                    </div>
                </div>
                <div class="menu">
                    <h1>Others</h1>
                    <div class="menu-items">
                        <a href="#">Carriers</a>
                        <a href="#">Press</a>
                        <a href="#">Licences</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>

      </body>
    </html>
 